// ___________________ COULEURS ___________________ //
/// Grey
$grey-color-100: #e6e6e6;
$grey-color-300: #747474;
$grey-color-500: #4d4d4d;
$grey-color-700: #303030;

/// Gold
$gold-color-100: #fffae6;
$gold-color-300: #fae7a0;
$gold-color-500: #eedc94;

/// White
$white-color-100: #ffffff;
$white-color-300: #fcfcfd;

/// Actions
$update-color: #4c71a3;
$success-color: #329137;
$delete-color: #d05c5c;

// ___________________ DIMENSIONS ___________________ //

// Dimensions
/// LoaderInline
$width-loaderinline: 100px;

/// Navbar
$height-navbar: 80px;

/// Padding
$pad-page-horizontal: 40px;
$pad-page-vertical: 40px;
$pad-xl: 300px;

/// TogglePages
$height-togglepages: 70px;
